[Unit]
Description=FastAPI Event Service
After=network.target

[Service]
User=adreamin
Group=adreamin

WorkingDirectory=/home/adreamin/web/fastapi/event_service

ExecStart=/home/adreamin/web/fastapi/event_service/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000

Restart=always

[Install]
WantedBy=multi-user.target